@import "base/_global";
@import "base/_variables";
@import "base/_mixins";

html, body { height: 100%; margin: 0; padding: 0; }

#map { height: 100%; }

p {
    padding: 10px;
}


h1 {
    color: blue;

    @mixin atSmall {
        color: red;
    }
}
